[Desktop Entry]
Version=1.0
Name=Brightness
GenericName=Yad + brightnessctl
Comment=Adjust monitor brightness
Exec=~/Documents/scripts/brightness/set_brightness.sh
StartupNotify=true
Terminal=false
Icon=brightness
Type=Application
Categories=Settings;
Actions=new-window;new-private-window;
