[Desktop Entry]
Name=Monitor Settings
GenericName=xrandr
Comment=Change screen resolution and configure external monitors
Exec=lxrandr
Icon=video-display
Terminal=false
Type=Application
Categories=Settings;
Keywords=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
