[Desktop Entry]
Version=1.0
Type=Application
Name=Change Password
GenericName=passwd
Comment=Change Jeff's password through the terminal
Keywords=password;change;
Icon=org.gnome.Passbook
Terminal=true
Exec=x-terminal-emulator --geometry=50x7+670+400 -e passwd
StartupNotify=true
Categories=Security;
