[Desktop Entry]
Version =1.0
Type=Application
Name=Bulk Rename
GenericName=Bulk Rename
Comment=Rename Multiple Files
Keywords=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Terminal=false
Exec=thunar --bulk-rename %F
Icon=org.xfce.thunar
Categories=Files;
NoDisplay=true
